@model IEnumerable<dt191g_moment2.Models.Booking>

@{
    ViewData["Title"] = "Mina sidor";
}
@await Html.PartialAsync("_HeroImage")

<section class="info">
    <h1>Mina sidor</h1>


    <div>
        <h2>Totalt antal bokningar: @ViewBag.TotalBookings</h2>
        <h3>Senaste bokningen är i namn: @ViewData["LatestBooking"]</h3>
        @if (!Model.Any())
        {
            <p>Inga bokningar hittades.</p>
        }
        else
        {
            <ul>
                @foreach (var booking in Model)
                {
                    <li>
                        <h3>Namn: @booking.Name</h3>
                        <h5>Email:@booking.Email</h5>
                        <h5>Datum: @(booking.Date.HasValue ? booking.Date.Value.ToString("yyyy-MM-dd") : "Fel vid val av datum")</h5>
                        <h5>antal gäster: @booking.Guests</h5>
                        <h5>Betalningsplats: @booking.Payment</h5>
                    </li>
                }
            </ul>
        }
    </div>
</section>