@model IEnumerable<dt191g_moment2.Models.Booking>

@{
    ViewData["Title"] = "Mina sidor";
}

<div>
    <h1>Mina sidor</h1>


    <div>
        <h2>Totalt antal bokningar: @ViewBag.TotalBookings</h2>
        <h3>Första bokningen är på namn: @ViewData["FirstBooking"]</h3>
        @if (!Model.Any())
        {
            <p>Inga bokningar hittades.</p>
        }
        else
        {
            <ul>
                @foreach (var booking in Model)
                {
                    <li>
                        <strong>Namn:</strong> @booking.Name <br>
                        <strong>Email:</strong> @booking.Email <br>
                        <strong>Datum:</strong> @booking.Date <br>
                    </li>
                }
            </ul>
        }
    </div>
</div>